@font-face {
  font-family: "poppins-regular";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "plus-jakarta-sans-regular";
  src: url(assets/fonts/PlusJakartaSans-Regular.ttf);
}
#root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #161513;
}
/* Nav bar properties */
header {
  background: #222222;
}
header ul {
  display: flex;
  list-style: none;
}
header a {
  color: white;
  font: 14px "plus-jakarta-sans-regular";
  cursor: pointer;
}
header a:hover {
}
/* Buttons */
.action-btn {
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  cursor: pointer;
  font: 17px "poppins-bold";
}
/* Get in touch button */
.action-btn.touch {
  background: white;
}
/* Download CV button */
.action-btn.cv {
  border: 2px solid white;
}

.projects-section {
  font: 72px "poppins-bold";
  background: -webkit-linear-gradient(#FF8660, #D5491D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experiences-section {
  font: 72px "poppins-bold";
  background: -webkit-linear-gradient(#5badff, #1373d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
