@font-face {
  font-family: "poppins-regular";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-extraBold";
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "plus-jakarta-sans-regular";
  src: url(assets/fonts/PlusJakartaSans-Regular.ttf);
}
#root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #161513;
}
/* Nav bar properties */
header {
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header a {
  color: white;
  font: 16px "plus-jakarta-sans-regular";
  cursor: pointer;
}
header a:hover {
}
/* Buttons */
.action-btn {
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  cursor: pointer;
  font: 17px "poppins-bold";
}
/* Get in touch button */
.action-btn.touch {
  background: white;
  color: black;
  border: 2px solid transparent; /* Add this */
}
/* Download CV button */
.action-btn.cv {
  color: white;
  border: 2px solid white;
  background: transparent;
}
.action-btn.cv:hover {
  color: black;
  background: white;
  transition: all 0.3s ease;
}
.projects-section {
  font: 45px "poppins-bold";
  background: -webkit-linear-gradient(#ff8660, #d5491d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experiences-section {
  font: 45px "poppins-bold";
  background: -webkit-linear-gradient(#5badff, #1373d1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-with {
  color: #c5c5c5;
  text-transform: uppercase;
  font-family: "poppins-semibold";
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profile img {
  width: 100%;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
  gap: 40px;
  /* background: fuchsia; */
}

.logos i {
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgba(253, 253, 253, 1),
    /* 100% opacity */ rgba(255, 255, 255, 0.18) /* 18% opacity */
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading {
  font: 40px "poppins-extraBold";
  color: white;
}
.heading span {
  background: -webkit-linear-gradient(left,#FF8660, #9A33FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  color: #C5C5C5;
  background: blue;
  width: 55%;
  text-align: center;
  font: 14px "poppins-regular";
}
.experience-with {
  background: red;
}
.experience-with span {
  display: block;
  margin: auto;
  text-align: center;
}
.logos {
  display: flex;
  background: #000;
}